body{
    direction: rtl !important;
}
.main-container{
    height: 100vh;
    width: 100%;
    padding: 4rem 20px;
}
.main-container > h2 {
    font-size: 16px;
    color: #494747;
    padding: 15px;
}
#upload_input {
    margin: 10px 0px ;
}
.upload_btn{
    padding: 8px 24px !important;
}

.upload_btn > i {
    margin: 0px 4px ;
}
.upload_btn {
 }
form{
    padding: 10px ;
    border-bottom: 1px solid lightgray;
}

.processed-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    padding: 20px 0px ;
    overflow-y: auto;
    gap: 20px;
}
.img-box{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    background: #f3f3f3;
    padding: 20px;
 }
.image{
    width: 80%;
    height: 75%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
    border-radius: 4px;
}
.img-box > .progress-container {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
     height: 50px;
    color: white;
    background: #178317;
    font-size: 16px;
}
